#container {
    width: 100%;

}

#sidemultichat {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
    font-family: Prim83;
    
    padding: 5px;
    
}
#laba_href {
    border: solid 1px black;
}
@font-face {
    font-family: "Prim83";
    src: url("/fonts/prim83.ttf") format("ttf");
}
#chat1 {
    
}
