#container {
    width: 100%;

}

#sidemultichat {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
    width: 150px;
    
    padding: 5px;
    
}
#laba_href {
    border: solid 1px black;
}
#chat1 {
    
}