#container {
    width: 100%;

}

#sidemultichat {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: stretch;
    width: 150px;
    border: 1;
    padding: 5px;
}
#chat1 {
    
}