html,body{
    min-height: 100%;
}
body {
    margin: 0px;
    min-height: 850px;
}
footer{
    bottom: 0;
    
}
footer a{
    color: rgb(54, 54, 54);
    text-decoration: none;
}
.button-cart {
    display: block;
    width: 49px;
    height: 49px;
    background-color: #313131;
    border-radius: 50%;
}
.button-cart svg{
    width: 25px;
    margin-left: 10px;

}
.button-cart .button-cart-info-quantity{
    text-align: center;
}

.button-cart:hover {
    background-color: #666666;
    
}

.actions_description {
    line-height: 23px;
}
.actions_main__element {
    border-top: 2px solid #e5e5e5;
    padding: 50px 300px 60px 300px;
    box-sizing: border-box;
    display: grid;
    grid-template: 1fr/1fr 1fr;
    grid-gap: 50px;
    font-family: Roboto;
    margin-bottom: 40px;
}
.pizzas_category {
    display: grid; 
    grid-template-columns: repeat(4, 1fr); 
    grid-column-gap: 10px;
}
@media (max-width: 1300px){
    .actions_main__element {
        padding: 50px 50px 60px 50px;
    }
    @media (max-width: 1400px){
        .pizzas_category {
            grid-template-columns: repeat(3, 1fr);
        }
    }
    @media (max-width: 1600px){
    .actions_main__element {
        padding: 50px 100px 60px 100px;
    }
    }
.actions_logo {
    max-width: 400px;
    padding: 0 0 60% 0;
    position: relative;
}

.cart {
    display: grid;
    grid-template: 1fr/auto 1fr;
    grid-gap: 40px;
}
.form_cart{
    display: grid;
    grid-template: 1fr;
    grid-gap: 40px;
}
@media (max-width: 600px){
    
    .cart{
        grid-template-columns: 1fr;
    }
}
.order-display__order {
    display: grid;
    padding: 0;
    border-radius: 15px;
    grid-template: 1fr/1fr;
}
.order__main-info {
    display: grid;
    grid-template: 1fr/0.5fr 1fr;
    grid-gap: 40px;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}
.order__logo {
    position: relative;
    padding: 0 0 30% 0;
    width: 50px;
    border-radius: 5px;
}
.order__description {
    display: grid;
    grid-template: 1fr 0.3fr/1fr;
}
.order__information {
    display: grid;
    grid-template: 1fr 0.7fr 0.1fr 0.5fr/1fr;
    grid-gap: 10px;
}
.order__buy {
    display: grid;
    grid-template: 1fr/1fr 0.5fr;
    align-items: center;
}
.order__price {
    font-size: 16px;
    font-weight: bold;
}
.order__amount-plus-minus {
    display: grid;
    grid-template: 1fr/1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
    justify-items: center;
    background-color: red;
    text-align: center;
    border-radius: 10px;
    color: white;
    padding: 5px 10px;
    font-size: 20px;
}
.slider {
	max-width: 1200px;

	margin: auto;
	margin-top: 25px;
	border: 1px solid black;
	position: relative;
	overflow: hidden;
}

.slide {
	max-width: 1200px;

	position: absolute;
	top: 0;
	left: 0;
	animation-name: slid;
	animation-duration: 10s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

@keyframes slide {
    from {
     top: 0;
     left: 0;
    }
    12.5% {
     transform: translate(0px, 0px);
    }
    25% {
     transform: translate(-500px, 0);
    }
    36% {
     transform: translate(-500px, 300px);
    }
    37% {
     transform: translate(500px, 300px);
    }
    87.5% {
     transform: translate(500px, 0);
     
    }
    to {
     transform: (0px, 0px);
    }
}

.slide1 { 
    background: url(1.jpg);
    animation-delay: 7.5s;
   }
   .slide2 { 
    background: url(2.jpg);
    animation-delay: 5s;
   }
   .slide3 { 
    background: url(3.jpg);
    animation-delay: 2.5s;
   }
   .slide4 { 
    background: url(4.jpg);
    animation-delay: 0s;
}