#container {
    display: flex;
    width: 100%;
}
body {
    margin-left: 0px;
    margin-top: 0px;
    background-color: rgb(36, 36, 36);
}


#laba_href {
    border: solid 1px black;
    text-align: center;
    color: rgb(121, 121, 121);
    text-decoration: none;
}
#sidemultichat a:hover{
    color: rgb(146, 144, 255);
}
#laba_menu {
    
    height: 100%;
    width: 400px;
    z-index: 1;
    font-family: Prim83;
    overflow-x: hidden;
    padding-top: 30px;
    background-color: rgb(63, 63, 63);

}
#laba_menu p {
    display: block;
    padding: 0px 8px 0px 8px;
    text-decoration: none;
    font-size: 20px;
    
    color: #818181;
    display: block;
    cursor: pointer;
  }   
  #laba_menu p:hover {
    color: #ff9ef7;
  }
@font-face {
    font-family: "Prim83";
    src: url(/fonts/prim83.ttf);
}
#text {
    padding-top:20px;
    flex-grow: 1;
    color: rgb(121, 121, 121);
}
#text h1{
    text-align: center;
    font-family: Prim83;
}
#text p{
    font-family: Arial;
    width: fit-content;
    word-break: break-all;
}
#text table {
    border: 1px, solid rgb(119, 243, 171);
    border-spacing: 5px;
}
#text th{
    font-family: Prim83;
    
}
#text tr{
    font-family: Arial;
}
#textTyping {
    position: fixed;
    bottom: 0;
    width: 100%;

}
#textTyping input {
    border: 0px;
    color:  rgb(121, 121, 121);
    background-color: rgb(36, 36, 36);
    border-top: 1px solid  rgb(63, 63, 63);
    bottom: 0;
    width: 100%;
    padding-top: 8px;
    padding-bottom: 8px;
}
#messageFirst {
    display: block;
    color:  rgb(109, 109, 109);
    border-radius: 15px;
    padding: 1px 5px 5px 5px;
    background: #6ae1ff;
}

#messageSecond {
    display: block;
    color:  rgb(109, 109, 109);
    border-radius: 15px;
    padding: 1px 5px 5px 5px;
    background: #6aff76;
}
#WhoText {
    font-weight: bold;
    margin-bottom: -15px;
    color: #FF6E6A;
}
#TimeText {
    text-align: right;
    font-size: 10px;
    margin-top: -12px;
}