@font-face {
    font-family: "Prim83";
    src: url("/fonts/prim83.ttf") format("ttf");
}
@media only screen{
    .logo {
        width: 300px;
    }    
}
@media only screen and (min-width: 1920px){
    .logo {
        width: 300px;
    }
    .menu-width {
        max-width: 1920px;
    };    
}
@media only screen and (min-width: 1920px){
    .logo {
        width: 300px;
    }
    .menu-width {
        max-width: 1920px;
    };    
}
html, body {
    margin: 0px;
    min-height: 100%;
}
.main-container{
    min-height: 100%;
}
.parallaxed-bg{
    max-width: 1920px;
    background-image: url(images/bg-full.jpg);
    height: 200px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.menu {
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
z-index: 1;
}
.mods-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    grid-column-gap: 10px;
}
@media (max-width: 1280px){
    
    .mods-grid{
        grid-template-columns: repeat(3, 1fr);
    }
}
@media (max-width: 768px){
    .logo{
        width: 200px;
    }
    .parallaxed-bg{
        background-image: url(images/bg-mobile.jpg);
        height: 200px;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .mods-grid{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 600px){
    
    .mods-grid{
        grid-template-columns: repeat(1, 1fr);
    }
}


header {
    background-color: rgb(108, 158, 214);
    box-shadow: 0 0 5px;
}
.menu{
    background-color: #B1C5DD;
    box-shadow: 0 0 3px;
}
.menu a{
    color: black;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  padding: 8px 8px 8px 8px;
  
  background-image: linear-gradient(#222b40, #222b40),
    linear-gradient(rgb(255, 172, 117), rgb(255, 172, 117)),
    linear-gradient(#ff5858, #ff5858);
  background-size: 20px 2px, 100% 2px, 0 2px;
  background-position: calc(20px * -1) 100%, 100% 100%, 0 100%;
  background-repeat: no-repeat;

}
.menu a:hover {
    background-size: 20px 2px, 0 2px, 100% 2px;
    background-position: calc(100% + 20px) 100%, 100% 100%, 0 100%;
  }
footer{
    background-color: #2B4057;
    bottom: 0;
}
.content {
    box-shadow: 0px 0px 5px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px 10px 10px 10px;
    background-color: #486788;
    
}

.mod-block{
    display: block;
    position: relative;
    
    border: 1px solid #222b40;
    border-radius: 25px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 10px;
    cursor: pointer;
}
.mod-block .mod-thumb{
    width: 200px;
    border-radius: 25px;
    border: 5px solid rgba(68, 68, 68, 0.35);
    -webkit-background-clip: padding-box;
    background-clip: padding-box; 
}
.mod-block {

    text-align: center;
}
.overlay {
    position: absolute;
    border-radius: 25px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
    
  }
  .mod-block:hover .overlay {
    opacity: 90%;
  }
  .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }

  .gameicon {
    position: relative;
    bottom:0;

    width: 20px;
    cursor: pointer;
}


 .image-row {
    display: -ms-flexbox; 
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0 4px;
    justify-content: center;
  }
  
  .image-column {
    -ms-flex: 25%;
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
  }
  
  .image-column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
    border: 2px solid rgba(34, 34, 34, 0.35);
    -webkit-background-clip: padding-box; 
    background-clip: padding-box; 
    cursor: pointer;
  }
  
  @media screen and (max-width: 800px) {
    .image-row {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        padding: 0 4px;
        justify-content: space-around;
      }
    .image-column {
      -ms-flex: 70%;
      flex: 70%;
      max-width: 70%;
    }
  }
  
  @media screen and (max-width: 600px) {
    .image-column {
      -ms-flex: 100%;
      flex: 100%;
      max-width: 100%;
    }
  }
  
  .library_background{
    max-width: 1920px;
    background-image: url(images/anime-girl-library-ms.jpg);
    height: 200px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.tabcontent {
    display: none;
    padding: 6px 12px;
    border-top: none;
    height: 400px;
    color: white;
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s;
  }
  @-webkit-keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
  }
  
  @keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
  }
  .tab {
      display: flex;
      justify-content: space-around;
      align-items: stretch;
    overflow: hidden;
    background-color: #131313;
    
  }
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
    color: #cccccc;
  }
  
  .tab button:hover {
    background-color: rgb(90, 90, 90);
  }
  
  .tab button.active {
    background-color: rgb(51, 51, 51);
  }
  #Mods{
    background:
 
    linear-gradient(
      rgba(0, 0, 0, 0.7), 
      rgba(0, 0, 0, 0.7)
    ),
    
    url(images/mods.png);

    
    
  }
  #Indie-games{
    background-color: #2B4057;
    background:
 
    linear-gradient(
      rgba(0, 0, 0, 0.7), 
      rgba(0, 0, 0, 0.7)
    ),
    

    
    
  }
  #Arts{
    background-color: #2B4057;
    background:
 
    linear-gradient(
      rgba(0, 0, 0, 0.7), 
      rgba(0, 0, 0, 0.7)
    ),
    

    
    
  }
  #Library{
    background-color: #2B4057;
    background:
 
    linear-gradient(
      rgba(0, 0, 0, 0.7), 
      rgba(0, 0, 0, 0.7)
    ),
    

    
    
  }
  #Mods{
    background:
 
    linear-gradient(
      rgba(0, 0, 0, 0.7), 
      rgba(0, 0, 0, 0.7)
    ),
    
    url(images/mods.png);

    
    
  }
  footer{
      display: flex;
      flex-basis: 100px;
      font-family: Arial, Helvetica, sans-serif;
      padding: 10px 10px 10px 10px;
      box-shadow: 5px 5px 5px 5px;
  }

  .footer-menu{
      display: block;
      width: 150px;
      
  }
  .footer-menu li{
    margin-left: -20px;
}

  footer a{
      color: black;
      text-decoration: none;
  }
  footer a:hover{
      color: #292929;
  }
  .sidemenu{
      display: grid;
      grid-template-columns:  1fr;
      gap: 6px;
      position: fixed;
      right: 0;
      flex-direction: column;
      z-index: 1;
      
  }
  .sidemenu a{
      background-color: #50a886;
      border-radius: 5px;
      padding: 3px 3px 3px 3px;
      text-decoration: none;
      color: black;
      width: 20px;
      font-family: Arial, Helvetica, sans-serif;
      -webkit-transition: width 1s;
      transition: width 1s;
      margin-right: 0px;
      height: 17px;
      
    text-align: center;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: clip;

  }

  .sidemenu *:hover {
    background-color: #92af5d;
    color: #fff;
    width: 40px;
    
    text-align: center;
    display: block;
    border-radius: 20px;
    margin-right: 0px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: clip;
}
.lel{
    font-family: 'Font Awesome 5 Free', 'Font Awesome 5 Brands';
}

.parallaxed_bg {
  max-width: 1920px;
  background-image: url(images/vhkaywlf96lz.png);
  height: 1000px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#modlist {
  padding: 10px 10px 10px 10px;
}
#modlist table{
  border: 1px solid black;
  padding: 5px;
  border-spacing: 15px;
}